img {
  max-width: 100%;
}

.navbar-brand img {
  width: 180px;
}

#phim-hot .movie-poster {
  height: 435px;
}

.movie-poster img {
  object-fit: cover;
}

#movie-detail-cover img {
  height: 280px;
}
